/* Popup styles */

@font-face {
  font-family: "oxanium";
  src: url("fonts/oxanium-semibold-webfont.woff") format("woff2");
}

@font-face {
  font-family: "oxanium";
  src: url("fonts/oxanium-semibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "space";
  src: url("fonts/spacemono-regular-webfont.woff") format("woff2");
}

@font-face {
  font-family: "space";
  src: url("fonts/spacemono-regular-webfont.woff2") format("woff2");
}


body {
    background-color: rgb(0, 0, 0);
    width: 24rem;
}

.addon-name {
    font-size: 24px;
    text-align: center;
    color: bisque;
    font-family: "oxanium", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

summary.sumskill-btn,
summary.sumskill-main-btn {
    font-family: "space", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 23rem;
    display: inline-block;
    padding: 0.6em 1em;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.75rem;
    user-select: none;
}

/* Remove default triangle marker */
summary.sumskill-btn::-webkit-details-marker,
summary.sumskill-btn::-webkit-details-marker {
    display: none;
}

/* add your own icon */
/* summary.sumskill-btn::after {
    font-size: 0.8em;
    } */
    
    /* hover/focus styles */
    summary.sumskill-btn:hover {
        background-color: #005fa3;
    }
    
    
    summary.sumskill-main-btn {
        background-color: #043073;
    }
    
    /* hover/focus styles */
    summary.sumskill-main-btn:hover {
        background-color: #001448;
    }
    
    input[type="checkbox"] {
        transform: scale(1.2);
    }
    
    .checkbox-label {
        font-family: "space", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.75rem;
        display: inline-block;
        width: 100%;
    }
    
    .checkbox-label:hover {
        background-color: hsl(208, 86%, 80%);
    }
    
    .checkbox-details {
        background-color: hsl(208, 86%, 88%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
    }